@import "tailwindcss";

html,
body {
  height: 100vh;
  overflow: scroll;
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-display: var(--font-migra);
  --font-mono: var(--font-jetbrains-mono);

  --color-primary-50: var(--color-purple-50);
  --color-primary-100: var(--color-purple-100);
  --color-primary-200: var(--color-purple-200);
  --color-primary-300: var(--color-purple-300);
  --color-primary-400: var(--color-purple-400);
  --color-primary-500: var(--color-purple-500);
  --color-primary-600: var(--color-purple-600);
  --color-primary-700: var(--color-purple-700);
  --color-primary-800: var(--color-purple-800);
  --color-primary-900: var(--color-purple-900);
  --color-primary-950: var(--color-purple-950);

  --color-gray-50: var(--color-mauve-50);
  --color-gray-100: var(--color-mauve-100);
  --color-gray-200: var(--color-mauve-200);
  --color-gray-300: var(--color-mauve-300);
  --color-gray-400: var(--color-mauve-400);
  --color-gray-500: var(--color-mauve-500);
  --color-gray-600: var(--color-mauve-600);
  --color-gray-700: var(--color-mauve-700);
  --color-gray-800: var(--color-mauve-800);
  --color-gray-900: var(--color-mauve-900);
  --color-gray-950: var(--color-mauve-950);
}
